block variables

doctype html
html
  head
    //- Basic meta tags
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport",content="width=device-width, initial-scale=1")
    //- Page specific, be sure to fill out vars
    title #{title || "MosquitoBanUSA"}
    meta(name="description",content=description)
    link(rel="stylesheet",href="/css/pure-min.css")
    link(rel="stylesheet",href="/css/grids-responsive-min.css")
    link(rel="stylesheet",href="/css/main.css")
    //- link(rel="canonical",href="/")
  body.bg-wistful
    <!--[if lte IE 8]>
    p You are using a very old browser. Please upgrade.
    <![endif]-->
    include _header.jade
    .page-content
      block content
    include _footer.jade

