block variables

doctype html
html
  head
    //- Basic meta tags
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport",content="width=device-width, initial-scale=1")
    //- Page specific, be sure to fill out vars
    title #{title || "MosquitoBanUSA"}
    meta(name="description",content=description)
    link(rel="stylesheet",href="/css/pure-min.css")
    link(rel="stylesheet",href="/css/grids-responsive-min.css")
    link(rel="stylesheet",href="/css/main.css")
    //- link(rel="canonical",href="/")
  body.bg-egg-shell
    <!--[if lte IE 8]>
    p You are using a very old browser. Please upgrade.
    <![endif]-->
    include _header.jade
    .page-content
      block content
    include _footer.jade
    script.
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29489768-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

