footer.section.bg-forest
  .pure-g
    .pure-u-1-3
      .col
        h3 Bill is proud to be associated with
        ul
          li: a(href="http://www.ncmvca.org/") NC Mosquito &amp; Vector Control Association
          li: a(href="http://www.mamca.org/") Mid-Atlantic Mosquito Control Association
    .pure-u-1-3
      .col= description
    .pure-u-1-3
      .col
        h3 Contact
        p
          span= phone.raleigh
          br
          span 8480 Honeycutt Road Suite 200
          br
          span Raleigh, NC 27615
        p: a(href="https://www.facebook.com/mosquitobanusa/")
          img.icon(src="https://www.facebook.com/icon.svg")
          span &nbsp;Facebook
