header
  .pure-g.bg-fiddlehead
    .pure-u-1-1
      a.brand-logo(href="/") MosquitoBanUSA
  nav.txt-center
    a(href="index.html") Home
    a(href="services.html") Services
    a(href="bugs.html") Bugs
    a(href="contact.html") Contact
    a(href="blog.html") Blog
