header
  .bg-sea-green.txt-center
    .branding
      a.brand-logo(href="/") MosquitoBanUSA
      .brand-msg Make your yard the most comfortable room in the house
  nav.txt-center
    a(href="index.html") Home
    a(href="bugs.html") Mosquitoes
    a(href="services.html") Services
    a(href="blog.html") Blog
    a(href="contact.html") Contact
