header
  .pure-g.bg-sea-green
    .pure-u-1-1
      a.brand-logo(href="/") MosquitoBanUSA
  nav.txt-center
    a(href="index.html") Home
    a(href="bugs.html") Mosquitoes
    a(href="services.html") Services
    a(href="blog.html") Blog
    a(href="contact.html") Contact
