.hero#hero
  .overlay
    //- .message
      h1 Make the backyard the most comfortable room in your home!
    .button
    include _typeform.jade
    //- .message
      p.
        If you havent tried MosquitoBanUSA, you don't know what you are missing. We live on a wooded lot across the street from a pond and the bugs were so bad that we hardly used our outdoor living area. We called Gary from MosquitoBanUSA and he came out and sprayed our acre and it was the best thing we ever did. We ate outside most days and nights and not one pesky bug bothered us. I love the outdoors but not the bugs, now with MosquitoBanUSA, I don't have to worry about bugs anymore. - Margaret R., Charlotte
