block variables
  - var title = "Mosquitoes - MosquitoBanUSA"
extends __default.jade

block content
  include _hero.jade
  .section.pure-g
    .pure-u-1-1.pure-u-md-2-3
      .txt-box__double
        h1 Mosquitoes suck.
        p.
          Mosquitoes spread harmful diseases.
          Not just to us, but to our pets, too.
          Many folks are highly allergic to their bites, and experience severe itching and discomfort when bitten (especially children).
        p.
          Our barrier spray treatments are the best way to keep your yard under control and your family safe.
          The timed release of our highly effective misting treatment kills harmful bugs without harming anything else.
          With incidents of lyme disease, encephalitis, Rocky Mountain spotted fever and West Nile virus on the rise, we offer the best mosquito treatment for keeping your family safe.
    .pure-u-1-1.pure-u-md-1-3.txt-center
      img.img-rounded(src="img/md-mosquito.jpg")
