block variables
  - var title = "Bugs - MosquitoBanUSA"
extends __default.jade

block content
  .hero
  .section.pure-g
    .pure-u-2-3
      .txt-box__double
        h1 Mosquitoes suck.
        p.
          Mosquitoes spread harmful diseases.
          Not just to us, but to our pets, too.
          Many folks are highly allergic to their bites, and experience severe itching and discomfort when bitten (especially children).
        p.
          MosquitoBanUSA treatments are the best way to keep your yard under control and your family safe.
          The timed release of our highly effective misting treatment kills harmful bugs without harming anything else.
          With incidents of lyme disease, encephalitis, Rocky Mountain spotted fever and West Nile virus on the rise, we offer the best mosquito treatment for keeping your family safe.
    .pure-u-1-3.txt-center
      img(src="http://www.cycreekpestcontrol.com/wp-content/uploads/2015/10/mosquitos.svg")
  .section.pure-g.bg-spilled-lime
    .pure-u-2-3
      .txt-box__double
        h1 Ticks bite.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim expedita neque molestias blanditiis nemo distinctio voluptatum pariatur, voluptas doloremque quisquam alias, sapiente labore est totam vero vitae error, quos odio!
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis reprehenderit dolores adipisci possimus qui repudiandae.
        p: b [[ I need you to write this section. I don't know enough and I'm not comfortable with just rehashing the competitors. ]]
    .pure-u-1-3.txt-center
      img(src="http://www.clker.com/cliparts/p/i/I/d/b/y/ticks.svg")
