block variables
  - var title = "Bugs - MosquitoBanUSA"
extends __default.jade

block content
  .hero
  .section.pure-g.txt-center
    .pure-u-1-2
      .col
        h1 Mosquitoes suck.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae tempore necessitatibus laboriosam dolor id, nulla iste maxime pariatur aperiam. Aperiam animi molestiae, distinctio dolor porro nemo. Dolores nesciunt aperiam sunt?
    .pure-u-1-2
      img(src="http://www.cycreekpestcontrol.com/wp-content/uploads/2015/10/mosquitos.svg")
  .section.pure-g.bg-spilled-lime.txt-center
    .pure-u-1-2
      .col
        h1 Ticks bite.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim expedita neque molestias blanditiis nemo distinctio voluptatum pariatur, voluptas doloremque quisquam alias, sapiente labore est totam vero vitae error, quos odio!
    .pure-u-1-2
      img(src="http://www.clker.com/cliparts/p/i/I/d/b/y/ticks.svg")
