block variables
  - var title = "MosquitoBanUSA INDEX"
extends __default.jade

block content
  .hero
    .overlay
      p.highlight Mosquitos suck.
    .cta.txt-center
      include _typeform.jade
  .section.pure-g.txt-center.bg-seethe
    .pure-u-1-3
      .col
        h2 Mosquitoes.
        p Out of #[b sight].
        img.img-rounded.col-icon__large(src="http://www.cycreekpestcontrol.com/wp-content/uploads/2015/10/mosquitos.svg")
    .pure-u-1-3
      .col
        h2 Ticks.
        p Out of #[b mind].
        img.img-rounded.col-icon__large(src="http://www.clker.com/cliparts/p/i/I/d/b/y/ticks.svg")
    .pure-u-1-3
      .col
        h1 You.
        p: b Outside.
        img.img-rounded.col-icon__large(src="img/bill_200.jpg")
  .section.pure-g.txt-center.bg-fiddlehead
    .pure-u-2-3
      h1 You've already got 99 problems. #[span.highlight Let us take care of the rest.]
      h2 Stop pests dead in their tracks before they even reach your yard.
    .pure-u-1-3
      img.col-icon__large(src="http://www.cycreekpestcontrol.com/wp-content/uploads/2015/10/mosquitos.svg")
      p: a.button.bg-seethe(href="services.html") Learn more about our eco-friendly barrier sprays

  .section.pure-g.txt-center.bg-sprig
    .pure-u-1-1
      h1 Questions?
    .pure-u-1-2
      .speech-bubble.speech-bubble__left.bg-seethe
        h3 How can Bill help me manage mosquitoes and ticks in my yard?
        p Bill #[a(href="services.html") kicks ass.]
    .pure-u-1-2
      .speech-bubble.speech-bubble__right.bg-seethe
        h3 Are Bill's pesticides dangerous for children or pets?
        p: a(href="#") Nope!
    .pure-u-1-2
      .speech-bubble.speech-bubble__left.bg-seethe
        h3 How can Bill help me manage mosquitoes and ticks in my yard?
        p Bill #[a(href="services.html") kicks ass.]
    .pure-u-1-2
      .speech-bubble.speech-bubble__right.bg-seethe
        h3 Are Bill's pesticides dangerous for children or pets?
        p: a(href="#") Nope!
