block variables
  - var title = "MosquitoBanUSA INDEX"
extends __default.jade

block content
  include _hero.jade
  .section.pure-g.txt-center
    .pure-u-1-1.pure-u-md-1-3
      .txt-box
        h1 Mosquitoes.
        h3 Out of #[b sight].
        img.img-rounded.col-icon__large(src="http://www.cycreekpestcontrol.com/wp-content/uploads/2015/10/mosquitos.svg")
    .pure-u-1-1.pure-u-md-1-3
      .txt-box
        h1 Ticks.
        h3 Out of #[b mind].
        img.img-rounded.col-icon__large(src="http://www.clker.com/cliparts/p/i/I/d/b/y/ticks.svg")
    .pure-u-1-1.pure-u-md-1-3
      .txt-box
        h1 You.
        h3: #[b Out]side.
        img.img-rounded.col-icon__large(src="img/ss_hammock.jpg")
  .section.txt-center.bg-seethe
    .txt-box__double
      p
        h1 You already have 99 problems.
        h1: b Let us take care of the rest.
  .section.pure-g.bg-fiddlehead
    .pure-u-1-1.pure-u-md-2-3
        .txt-box__double
          h1 Relax outside. Undisturbed.
          h2 #[span.highlight Barrier Sprays.] Effective against pests. Harmless for children.
          p.
            Kick back and enjoy your yard like never before!
            Whether you are reclining in your hammock with a great book or having your friends over for BBQ, you can be sure that pests won't be bothering you.
            Barrier sprays use a naturally-derived solution to kill mosquitoes and ticks while leaving your family unharmed.
          p Rediscover and reconnect with nature from the comfort of your own back yard!

          h3: span.highlight Contact us now for a free consultation.
          p.
            We will visit your property and make recommendations specific to your needs.
            A typical yard is treated once every three weeks for maximum effect.
          p.
            We're so confident that we will rid your yard of pests that we offer a #[span.highlight 100% satisfaction guarantee.]
          //- p: include _typeform.jade
    .pure-u-1-1.pure-u-md-1-3.txt-center
      .txt-box
        img.col-icon__large(src="http://www.cycreekpestcontrol.com/wp-content/uploads/2015/10/mosquitos.svg")
        p: include _typeform.jade

  .section.pure-g.txt-center
    .pure-u-1-1
      h1 F.A.Q.
    .pure-u-1-1.pure-u-md-1-2
      .speech-bubble.speech-bubble__left.bg-seethe
        h3 How does the treatment work?
        p.
          The treatments work by effectively eliminating all adult mosquitoes onsite and by leaving a residue on the foliage and and vegetation that we spray.
          In addition we apply a 2nd step, a granular larvacide to eliminate the thousands of eggs just waiting to hatch.
    .pure-u-1-1.pure-u-md-1-2
      .speech-bubble.speech-bubble__right.bg-seethe
        h3 Why a 2 Step Program?
        p.
          We want to offer a complete mosquito management program. The granular larvacide eliminates the eggs waiting to hatch and adult residue to knock out all the adult mosquitoes breeding and vegetating in your yard.
    .pure-u-1-1.pure-u-md-1-2
      .speech-bubble.speech-bubble__left.bg-seethe
        h3 Does anyone need to be home to accept service?
        p.
          No—provided we have access to any fenced areas and domestic animals can be kept indoors our clients are not required to be home.
          After each service the technician will leave a courtesy card indicating services were completed.
    .pure-u-1-1.pure-u-md-1-2
      .speech-bubble.speech-bubble__right.bg-seethe
        h3 How often do we need service?
        p We recommend treatment every 21 days with our conventional products.
    .pure-u-1-1.pure-u-md-1-2
      .speech-bubble.speech-bubble__left.bg-seethe
        h3 Are the products safe for me, my kids, and pets?
        p.
          Yes all of our products and services are safe for people, pets and other life in the area.
          However, we do #[b require] the following dry times before resuming normal outdoor activities (Conventional spray: 45min-1hr).
    .pure-u-1-1.pure-u-md-1-2
      .speech-bubble.speech-bubble__right.bg-seethe
        h3 What if it rains the same day of my scheduled service?
        p.
          If it rains the day of service your appointment will be rescheduled and you will receive new appointment information from our office.
    .pure-u-1-1.pure-u-md-1-2
      .speech-bubble.speech-bubble__left.bg-seethe
        h3 Will the treatment affect my neighbors, pets, or property?
        p.
          No. Our solutions are water-based.
          With proper application the products will only help your neighbor.
    .pure-u-1-1.pure-u-md-1-2
      .speech-bubble.speech-bubble__right.bg-seethe
        h3 Is it safe for my ornaments, trees, plantings and trees?
        p.
          Yes.
          Both the organic & conventional products are safe for the plants in your landscape.
          We do not spray open blooms or flowering perennials and annuals because they usually get good light and attract beneficial insects and pollinators.
    .pure-u-1-1.pure-u-md-1-2
      .speech-bubble.speech-bubble__left.bg-seethe
        h3 Is there any smell associated with the product?
        p No. The product is both odor-free and colorless.
    .pure-u-1-1.pure-u-md-1-2
      .speech-bubble.speech-bubble__right.bg-seethe
        h3 Can my garden be treated?
        p We suggest washing all vegetables prior to consumption, if organic we offer an Organic Option.
