extends __default.jade

block content
  include _hero.jade
  .section.pure-g.bg-fiddlehead
    .pure-u-1-1.pure-u-md-2-3
      .txt-box__double
        h1 Reclaim your yard today.
        h2 Barrier Sprays. #[span.highlight 100% natural.] 100% effective.
        p.
          The best way to keep your yard pest-free is with recurring barrier spray treatments.
          In less than an hour, your home and family will be #[span.highlight protected from pests and disease.]
          We will identify the primary breeding grounds and treat those areas to #[span.highlight prevent and eliminate pest populations.]
        p.
          MosquitoBanUSA uses only pyrethrum-based spray solutions because we believe you deserve the best.
          They are naturally derived from the chrysanthemum flower and are very #[span.highlight effective against pests without harming you or your family].
          In fact, these same solutions are used in lice shampoos intended for direct skin contact.
        p.highlight.
          For a naturally derived, low-cost solution against mosquitoes and other pests, barrier sprays are the most effective (and cost-effective) choice.
    .pure-u-1-3
      img.img-rounded(src="img/sm-ss_hammock.jpg")
