extends __default.jade

block content
  .hero
  .section.pure-g.txt-center.bg-fiddlehead
    .pure-u-1-2
      .col
        h1 Barrier Sprays
        p.
          The best way to keep your yard pest-free is with recurring barrier spray treatments.
          In less than an hour, your home and family will be #[span.highlight protected from pests and disease].
          We will identify the primary breeding grounds and treat those areas to #[span.highlight prevent and eliminate pest populations].
        p.
          MosquitoBanUSA uses only pyrethrum-based spray solutions because we want the best for our customers.
          They are naturally derived from the chrysanthemum flower and are very #[span.highlight effective against pests without harming anything else].
          In fact, these same solutions are used in lice shampoos intended for direct skin contact.
        p.highlight.
          For a naturally derived, low-cost solution against mosquitoes and other pests, barrier sprays are the most effective choice.
    .pure-u-1-2
      img.col-icon(src="bower_components/open-iconic/svg/ban.svg")
